.container {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAF9F6;
}

.levelGrid {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
}

.levelButton {
  display: block;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.levelButton:hover {
  transform: scale(1.1);
}

.levelButtonDisabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.levelImage {
  width: 20rem;
  height: 20rem;
  display: block;
}
