.container {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/plewcsat1.firebasestorage.app/o/icons%2Fbackground.svg?alt=media&token=85f36310-0af9-49f9-9453-8e4064cad41e');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.levelGrid {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
}

.levelButton {
  display: block;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.levelButton:hover {
  transform: scale(1.1);
}

.levelImage {
  width: 20rem;
  height: 20rem;
  display: block;
}
