.answerButton {
  position: relative;
  width: 100%;
  padding: 1rem;
  text-align: left;
  border-radius: 0.525rem;
  transition: all 0.3s ease;
  cursor: pointer;
  background: white;
  border: none;
  font-size: 0.9rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.answerButton:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background: #faf5ff;
}

.answerButton.selected {
  background: #F3F3FF;
}

.answerButton.correct {
  background: #DBF7F9;
}

.answerButton.incorrect {
  background: #FADEE8;
}

.answerButton:disabled {
  cursor: not-allowed;
  opacity: 1 !important;
}

.answerButton:disabled span {
  color: #000000 !important;
}
